<div class="dqpl-select" id="sort-select">
  <div class="info-label">Sorted by</div>
  <div class="dqpl-combobox" role="combobox" tabindex="0" aria-autocomplete="none" aria-owns="sort-options" aria-expanded="false" aria-label="Sort" aria-required="true" aria-activedescendant="default">
    <div role="textbox" class="dqpl-pseudo-value" aria-label="dateopenaccess">Open Access Date</div>
    {{- partial "svgs/arrow.svg" (dict "fill" "#444444") -}}
  </div>
  <div class="dqpl-listbox" role="listbox" id="sort-options">
    <ul>
      <li class="dqpl-option" role="option" data-value="dateopenaccess" aria-selected="true">Open Access Date</li>
      <li class="dqpl-option" role="option" data-value="datebook">Publication Date</li>
      <li class="dqpl-option" role="option" data-value="title">Title</li>
    </ul>

  </div>
</div>

<script>
  function sortbydateoa() {
    const elements = Array.from(document.querySelectorAll('[data-dateopenaccess]'));
    elements.sort((a, b) => {
      const orderA = parseInt(a.dataset.dateopenaccess);
      const orderB = parseInt(b.dataset.dateopenaccess);
      return orderB - orderA;
    });
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  function sortbydatebook() {
    const elements = Array.from(document.querySelectorAll('[data-datebook]'));
    elements.sort((a, b) => {
      const orderA = parseInt(a.dataset.datebook);
      const orderB = parseInt(b.dataset.datebook);
      return orderB - orderA;
    });
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  function sortbytitle() {
    const elements = Array.from(document.querySelectorAll('[data-titlesort]'));
    elements.sort((a, b) => a.getAttribute('data-titlesort').localeCompare(b.getAttribute('data-titlesort')));
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  document.addEventListener("DOMContentLoaded", function (event) {

    Array.from(document.querySelectorAll('#sort-select'))
      .forEach(wrapper => {
        const combobox = wrapper.querySelector('.dqpl-combobox');
        const listbox = wrapper.querySelector('.dqpl-listbox');
        let cachedValue = listbox.querySelector('[aria-selected="true"]').getAttribute('data-value');
        const checkChanged = () => {
          // setting timeout here to let dqpl handle the events first and change the value
          setTimeout(() => {
            const newValue = listbox.querySelector('[aria-selected="true"]').getAttribute('data-value');
            if (newValue !== cachedValue) {
              cachedValue = newValue;
              //console.log(newValue);
              switch (newValue) {
                case "dateopenaccess":
                  sortbydateoa();
                  break;
                case "datebook":
                  sortbydatebook();
                  break;
                case "title":
                  sortbytitle();
                  break;
                default:
                  console.log('Unknown value');
              }
            }
          });
        };

        listbox.addEventListener('click', checkChanged);
        combobox.addEventListener('keydown', e => {
          if (e.which !== 32 && e.which !== 13) {
            return;
          }
          checkChanged();
        });

      });
  });
</script>
