<div class="thumb-link">
    <div class="dqpl-select" style="position:relative">
        <div class="dqpl-combobox" id="combobox-single" role="combobox" tabindex="0" aria-autocomplete="none" aria-owns="subject-list" aria-expanded="false" aria-label="Browse Download Formats" aria-required="true" aria-activedescendant="default">
            <div role="textbox" class="dqpl-pseudo-value" aria-label="Downloadable formats">Download {{- partial "svgs/download-arrow.svg" (dict "fill" "#444444") -}}</div>
        </div>
        <div class="dqpl-listbox" role="listbox" id="subject-list" style="position:absolute; top:100%; width:100%; left:0">
            <ul id="combobox-list-ul">
                <li class="dqpl-option" id="combobox-list-option" role="option" data-value="all" {{ if eq ($.Scratch.Get "currentSlug") "all" }} id="default" {{ end -}}><a href="https://mc.dlib.nyu.edu/files/nyupress/pdfs/{{.Params.isbn}}.pdf" download>PDF</a></li>
                <li class="dqpl-option" id="combobox-list-option-two" role="option" data-value="all" {{ if eq ($.Scratch.Get "currentSlug") "all" }} id="default" {{ end -}}><a href="https://mc.dlib.nyu.edu/files/nyupress/epubs/{{.Params.isbn}}.epub" download>EPUB</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
    const listOption1 = document.getElementById("combobox-list-option");
    const listOption2 = document.getElementById("combobox-list-option-two");
    const pseudo = document.querySelector("[aria-label='Downloadable formats']")
    function relabel(){
        pseudo.innerHTML = 'Download<svg style="margin-left:.25rem; margin-bottom:.2rem" width="14px" height="12px" viewBox="0 0 18 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><polygon id="Triangle" fill="#444444" points="9 12 0 0 18 0"></polygon></g></svg>';
    }
    listOption1.addEventListener('click', relabel);
    listOption2.addEventListener('click', relabel);
</script>