<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

  <head>
    {{ partial "head-html.html" . -}}

    <meta name="robots" content="noindex, nofollow" />
  </head>

  <body class="readingpage">
    <div class="hold-all-readingpage">
      <div id="skipnav"><a href="#main-content">Skip navigation</a></div>
      <header class="page-header">
        <div class="top-hold">
          {{ with resources.Get "images/opensquare_logo.svg" -}}
          <div class="osq-logo site-title"><a href="{{ site.Home.Permalink }}"><img src="{{ .RelPermalink }}" alt="{{ site.Title }}:{{ site.Params.tagline}}"></a></div>{{ end }}
          <div class="nyup-logo">{{ with resources.Get "images/NYUPLogo.png" }}<a href="https://nyupress.org"><img class="img-fluid" src="{{ .RelPermalink }}" alt="NYU Press"></a>{{ end }}</div>
        </div>
      </header>
