<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

  <head>
    {{ partial "head-html.html" . -}}
  </head>

  <body class="{{- if .IsHome -}}ishome {{ end -}}{{if .IsNode}}isnode {{end -}}{{if .IsPage}}ispage {{end}}{{ with .Type }}{{ . }} {{ end }}{{ with .Kind }}{{ . }}{{ end }}">
    {{ partial "google-tag-manager-body.html" . }}
    <div class="hold-all">
      <header class="page-header">
        <div id="skipnav"><a href="#main-content">Skip navigation</a></div>
        <div class="top-hold mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-10-tablet mdc-layout-grid__cell--span-5-phone">
              {{ with resources.Get "images/OpenSquareLogo.png" }}
              <div class="osq-logo"><a href="{{ site.Home.Permalink }}"><img src="{{ .RelPermalink }}" alt="{{ site.Title }}:{{ site.Params.tagline}}"></a></div>{{ end }}
            </div>
            <div class="nyup-logo  mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">{{ with resources.Get "images/NYUPress_stacked_color.svg" }}<a href="https://nyupress.org" target="_blank"><img src="{{ .RelPermalink }}" alt="NYU Press"></a>{{ end }}</div>
          </div>
        </div>
        <div class="navhold">
          <div class="inner">
            {{ partial "nav-links-main.html" . }}
          </div>
        </div>
      </header>
      <div class="contain-main">
