{{- $stringisbn := string .Params.isbn  -}}
{{- if .Params.isbnforphoto  -}}
{{- $stringisbn = string .Params.isbnforphoto  -}}
{{- end  -}}
{{- $imagepath := ".jpg" | printf "%s%s" $stringisbn  | printf  "%s%s" .Site.Params.image_server  -}}

<div class="thumb" role="presentation" aria-hidden="true" data-pubdate="{{ .Date }}">
  <a aria-hidden="true" tabindex="-1" href="{{ .Permalink  }}">
<picture>
  <source media="(min-width: 720px)"
    srcset="{{- $imagepath -}}?auto=format&amp;w=298&amp;dpr=1&amp;q=20 1x, {{- $imagepath -}}?auto=format&amp;w=298&amp;dpr=2&amp;q=20 2x, {{- $imagepath -}}?auto=format&amp;w=298&amp;dpr=3&amp;q=20 3x, ">
  <source media="(min-width: 480px)"
    srcset="{{- $imagepath -}}?auto=format&amp;w=260&amp;dpr=1&amp;q=20 1x, {{- $imagepath -}}?auto=format&amp;w=260&amp;dpr=2&amp;q=20 2x, {{- $imagepath -}}?auto=format&amp;w=260&amp;dpr=3&amp;q=20 3x, ">
  <source media="(min-width: 300px)"
    srcset="{{- $imagepath -}}?auto=format&amp;w=198&amp;dpr=1&amp;q=20 1x, {{- $imagepath -}}?auto=format&amp;w=198&amp;dpr=2&amp;q=20 2x, {{- $imagepath -}}?auto=format&amp;w=198&amp;dpr=3&amp;q=20 3x, ">
  <img src="{{- $imagepath -}}?auto=format&amp;w=145" alt="{{ .Title }}{{ with .Params.subtitle }}: {{.}}{{end}}"
    data-baseline-images="image" class="img-fluid">
</picture></a>
</div>