{
    "@context": "https://schema.org",
    "@type": "Book",
    "name": "{{ .Title }}{{- with .Params.subtitle }}: {{ . }}{{ end }}",
    "url": "{{ .Permalink | safeURL }}",
    "workExample": {
      "@type": "Book",
      "bookFormat": "https://schema.org/EBook",
      "abridged": "https://schema.org/False",
      "isbn": "{{ .Params.isbn }}",
      "datePublished": "{{ dateFormat "2006-01-02" .Date }}",
      {{- $stringisbn := string .Params.isbn  }}
      {{- if .Params.isbnforphoto  -}}
      {{- $stringisbn = string .Params.isbnforphoto  -}}
      {{- end  -}}
      {{- $imagepath := ".jpg" | printf "%s%s" $stringisbn  | printf  "%s%s" .Site.Params.image_server  }}
      "thumbnailUrl": "{{-  $imagepath }}",
      "potentialAction": {
        "@type": "ReadAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ .Permalink }}read.html",
          "actionPlatform": ["https://schema.org/DesktopWebPlatform", "https://schema.org/AndroidPlatform", "https://schema.org/IOSPlatform", "https://schema.org/MobileWebPlatform"]
        },
        "expectsAcceptanceOf": [{
          "@type": "Offer",
          "price": "0.00",
          "priceCurrency": "USD",
          "availability": "https://schema.org/InStock"
        }]
      }
    },
    "provider": {
      "name":"Open Square: New York University Press",
      "url":"https://nyupress.org/"
    }
  {{- with .Params.contributors -}}
    ,
    "author": [
    {{- $contribs := . | transform.Unmarshal -}}
    {{- range $i, $e := $contribs }}
      {{- if $i -}},{{ end }}
      { "@type": "Person",
       "name": "{{ index $e "contributorName" }}" }
    {{- end }}
    ]
  {{ end }}
  }
