## Base configuration file. Defines default values for all environments.

baseURL = "http://opensquare-local.nyupress.org"
languageCode = "en-us"
title = "Open Square"

theme = ["dlts-opensquare"]

publishDir = "docs"

cleanDestinationDir = true
enableGitInfo = true

[markup.goldmark.renderer]
  unsafe = true

[security]
  [security.http]
    methods = ['(?i)GET|POST|HEAD']

[params]
  sassOutputFormat = "compressed"
  enableSourceMap = "false"
  shorttitle = "Open Square"
  tagline = "Knowledge without Boundaries"
  description = "Open Square is NYU Press’s platform for publishing and reading open access books."
  introcopy = "Open Square is NYU Press’s platform for publishing and reading open access books."
  pathtoreaderfiles = "https://opensquare.nyupress.org/open-square-reader/cloud-reader/epub_content/"
  pathtoreader = "https://opensquare.nyupress.org/open-square-reader/cloud-reader/?epub=epub_content/"
  thumbhrefurl = "https://opensquare-local.nyupress.org/open-square-reader"

  faviconrelurl = "/favicon.png"
  connectedyouthurl = "https://connectedyouth.nyupress.org"
  link_title_1 = "Keywords"
  link1_description = "The books in the Keywords series collect essays by authors across the humanities and social sciences, with each essay focusing on a single term and set of debates.  The Keywords website provides access to online essays selected from each of the volumes, as well as preview text for all of the print-only essays."
  link1_link = "https://keywords.nyupress.org"
  link_title_2 = "Enhanced Networked Monographs"
  link2_description = "ENM is an experimental publishing project that provides free, web-based access to selected books from NYU Press, University of Minnesota Press, and University of Michigan Press. Readers can navigate books via a topic map of names and concepts derived from index entries."
  link2_link = "https://dlib.nyu.edu/enm/browse-topics-lists/enm-picks.html"
  featured_series = ["Jews in the Soviet Union"]
  featured_series_full_name = "Jews in the Soviet Union"
  featured_series_homepage_blurb ="A comprehensive history of Jews and Jewish life in the Soviet Union, from the establishment of the Russian Soviet Republic in late 1917 through to the Union’s formal dissolution on December 8, 1991. The six-book series will be complete in 2027."
  featured_series_path = "series/jews-in-the-soviet-union"
  image_server = "https://nyu-opensquare-us.imgix.net/covers/"
  featured_book_isbn = "9781479833511"
  # other_featured_books_isbn will be sorted by date.
  other_featured_books_isbn = ["9781479833306", "9781479832668", "9781479830909", "9781479819386","9781479819164","9781479811175" ]

[taxonomies]
  subject = "subjects"
  series = "series"

[outputs]
  home = ["HTML"]
  section = ["HTML"]
  page = ["HTML", "read"]
  taxonomy = ["HTML"]
  term = ["HTML"]

[outputFormats]
  [outputFormats.read]
    name = "read"
    baseName = "read/index"
    isPlainText = false
    isHTML = true
    mediaType = "text/html"
    notAlternative = false

[mediaTypes]
  [mediaTypes.'application/epub+zip']
    suffixes = ['epub']

[menu]

  [[menu.main]]
    name = "Browse Books"
    identifier = "browseallbooks"
    url = "books"
    weight = -110

  [[menu.main]]
    name = "About Open Square"
    identifier = "about-open-square"
    url = "aboutopensquare/"
    weight = -90

  [[menu.main]]
    name = "Search"
    identifier = "search"
    url = "search/"
    weight = -10

  [[menu.footer]]
      name = "Browse Books"
      identifier = "browseallbooks"
      url = "books"
      weight = -150

  [[menu.footer]]
   name = "About Open Square"
   identifier = "about-open-square"
   url = "aboutopensquare/"
   weight = -90

  [[menu.footer]]
  name = "Search"
  identifier = "search"
  url = "search/"
  weight = -10

  [[menu.footer]]
    name = "Accessibility"
    url = "https://www.nyu.edu/footer/accessibility.html"
    weight = -5
    identifier = "external"

  [[module.mounts]]
    source = 'content'
    target = 'content'

  [[module.mounts]]
    source = '../dlts-open-square-markdown/output'
    target = 'content'
