{{ partial "header.html" . }}
  <main id="main-content">
  <h1 class="page-title sr-only" >{{.Data.Singular}}: {{ .Page.Title  }}</h1>

  <div class="item-count">{{ .Pages | len }} books</div>
  <div class="dqpl-field-wrap">
  {{ partial "combobox.html" . }}
  {{ partial "comboboxsort.html" . }}
  </div>
    {{ .Content }}
     <div class="mdc-layout-grid">
       <div class="mdc-layout-grid__inner">
      {{ range .Pages}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-6-phone" data-dateopenaccess="{{ .Params.dateOpenAccess }}" data-datebook="{{ .Params.dateBook }}" data-titlesort="{{ .Params.titleSort }}">
      {{ partial "summary.html" . }}
      </div>
    {{ end }}
    </div>
  </div>
  </main>

{{ partial "footer.html" . }}
