{{ partial "header.html" . }}
  <main id="main-content">
  <h1 class="page-title sr-only" >{{.Data.Singular}}: {{ .Page.Title  }}</h1>

  <div class="item-count">{{ .Pages | len }} books</div>
  {{ partial "combobox.html" . }}
  sort by <a href="#" onclick="sortbydateoa();return false;">dateOpenAccess</a>   sort by <a href="#" onclick="sortbydatebook();return false;">dateBook</a>   sort by <a href="#" onclick="sortbytitle();return false;">title</a>

    {{ .Content }}
     <div class="mdc-layout-grid">
       <div class="mdc-layout-grid__inner">
      {{ range .Pages}}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-6-phone" data-dateopenaccess="{{ .Params.dateOpenAccess }}" data-datebook="{{ .Params.dateBook }}" data-titlesort="{{ .Params.titleSort }}">
      {{ partial "summary.html" . }}
      </div>
    {{ end }}
    </div>
  </div>
  </main>
  <script>
  function sortbydateoa() {
    const elements = Array.from(document.querySelectorAll('[data-dateopenaccess]'));
    elements.sort((a, b) => {
      const orderA = parseInt(a.dataset.dateopenaccess);
      const orderB = parseInt(b.dataset.dateopenaccess);
      return orderB - orderA;
    });
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  function sortbydatebook() {
    const elements = Array.from(document.querySelectorAll('[data-datebook]'));
    elements.sort((a, b) => {
      const orderA = parseInt(a.dataset.datebook);
      const orderB = parseInt(b.dataset.datebook);
      return orderB - orderA;
    });
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  function sortbytitle() {
    const elements = Array.from(document.querySelectorAll('[data-titlesort]'));
    elements.sort((a, b) => a.getAttribute('data-titlesort').localeCompare(b.getAttribute('data-titlesort')));
    const parent = elements[0].parentNode;
    elements.forEach(element => parent.appendChild(element));
  }
  </script>
{{ partial "footer.html" . }}
