{{ partial "header.html" . }}
<main id="main-content">
    <h1 class="page-title sr-only">{{.Data.Singular | title }}: {{ .Page.Title  }}</h1>
    <div class="item-count">{{ .Pages | len }} books</div>
    {{ partial "combobox.html" . }}
    <div class="series-content-hold">
        <div class="series-content">
            {{ .Content }} </div>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "books") }}
        {{ range $paginator.Pages }}
        {{ partial "summary.html" . }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
</main>
{{ partial "footer.html" . }}

