{{ partial "header.html" . }}
<main id="main-content">
  <div class="main-header">
    <h1 class="page-title sr-only">{{.Data.Singular}}: {{ .Page.Title }}</h1>
    <div class="group">
      {{ partial "combobox.html" . }}
      {{ partial "comboboxsort.html" . }}
    </div>
    <div class="item-count">{{ .Pages | len }} book{{if gt (.Pages | len) 1}}s{{end}}</div>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      {{ range sort .Pages ".Params.dateOpenAccess" "desc" }}
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-6-phone" data-dateopenaccess="{{ .Params.dateOpenAccess }}" data-datebook="{{ .Params.dateBook }}" data-titlesort="{{ .Params.titleSort }}">
        {{ partial "summary.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</main>

{{ partial "footer.html" . }}
