


@font-face {
  font-family: 'nyuperstare';
  src: url("../fonts/NYUPerstare/NYUPerstare-VF.ttf");
  // font-weight: normal;
  // font-style: normal;

}

@font-face {
  font-family: 'nyuperstareital';
  src: url("../fonts/NYUPerstare/nyuperstareital-webfont.eot");
  src: url("../fonts/NYUPerstare/nyuperstareital-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/NYUPerstare/nyuperstareital-webfont.woff2") format('woff2'), url("../fonts/NYUPerstare/nyuperstareital-webfont.woff") format('woff');
  // font-weight: normal;
  // font-style: normal;

}

@font-face {
  font-family: 'nyuperstarecondensed';
  src: url("../fonts/NYUPerstare/NYUPerstareCondensed-VF.ttf");
  // font-weight: normal;
  // font-style: normal;

}

@font-face {
  font-family: 'vistasansnarot-boldital';
  src: url("../fonts/NYUPerstare/vistasansnarot-boldital-webfont.eot");
  src: url("../fonts/NYUPerstare/vistasansnarot-boldital-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/NYUPerstare/vistasansnarot-boldital-webfont.woff2") format('woff2'), url("../fonts/NYUPerstare/vistasansnarot-boldital-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;

}
