.home {
  .section-title {
    font-size: 1.3rem;
    font-family: $font-family-headers;
    text-transform: uppercase;
    color: $section-title-color;
    margin: 0 0 1rem;
  }

  .intro-copy {
    font-weight: 500;
    font-family: $font-family-headers;
    font-size: 1rem;
    padding-right: 10px;
  }

  .featured-book {
    .section-title {
      margin-bottom: .2rem;
    }

    .book-title {
      font-size: 1.8rem;
      line-height: 1.3;
      margin: 0;
    }

    .book-subtitle {
      font-size: 1.1rem;
      margin: 0;
    }

    .description {
      @include mdc-layout-grid-media-query_(phone) {
        display: none;
      }
    }
  }

  .box2 {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $primary-color-muted;
    @include body-text;
    @include mdc-layout-grid-media-query_(desktop) {
      border-left: 1px solid $primary-color-muted;
      border-top: 0;
      padding-left: #{map-get($mdc-layout-grid-default-gutter, "desktop")};
      margin-top: 0;
      padding-top: 0;
    }
  }

  .browse-categories {
    @include body-text;

    ul {
      padding-left: 0;
    }

    li:not(:last-child)::after {
      content: '\2022';
      padding: .4em;
    }

    li {
      display: inline-block;
    }

    a:link {
      font-weight: 500;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .book-title-group {
    margin: 0 0 .7rem;

    a:link,
    a:visited {
      color: $textcolora;
    }

    a:hover {
      color: $linkhovercolor;
    }
  }
}

.featured-items-section {
  a {
    display: block;
  }

  .vista-callout {
    text-align: right;
  }
}

.featured-series-items-hold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-series-section {
  .series-title {
    margin-bottom: 1rem;
    font-weight: 500;

    a:link {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .description {
    @include body-text;
    margin: .4rem 0 1rem;
  }
}

.vista-callout {
  text-transform: uppercase;
  font-family: $font-family-headers;
  margin-top: 1rem;

  a {
    display: inline-block;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.sister-links-section {
  .link-item {
    padding-right: 20px;
    @include mdc-layout-grid-media-query_(desktop) {
      padding-right: 40px;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  .link-desc {
    @include body-text;
  }

  .link-link {
    margin-top: 1rem;
    font-weight: 500;
  }
  @include mdc-layout-grid-media-query_(desktop) {
    border-right: 1px solid $primary-color-muted;
  }
  @include mdc-layout-grid-media-query_(tablet) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $primary-color-muted;
  }
  @include mdc-layout-grid-media-query_(phone) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $primary-color-muted;
  }
}

.social-media-section {
  padding-bottom: 0 !important;
  margin-bottom: 1rem !important;

  div {
    font-size: 1rem;
    @include mdc-layout-grid-media-query_(desktop) {
      &:not(:last-child) {
        border-bottom: 1px solid $primary-color-muted;
      }
    }
    @include mdc-layout-grid-media-query_(phone) {
      font-size: 1rem;
    }
  }

  a {
    padding: 10px 0;
    display: flex;

    &:link {
      text-decoration: none;
    }

    &:hover {
      svg {
        fill: $nyu-purple;
      }
    }
  }

  svg {
    margin-right: 15px;
    //display: inline-block;
  }
}

.img-fluid {
  width: 100%;
  height: auto;
}

.home-section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid $primary-color-muted;
  }
}
