.nav-links {
  text-align: center;
  font-family: $font-family-headers-bold;

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.navhold {
  background-color: $background-color-navbar;
  margin-top: 1.5rem;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include mdc-layout-grid-media-query_(phone) {
      justify-content: flex-start;
    }

  }
}


.osq-logo {

  a {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.nyup-logo {
  text-align: right;

  a {
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;
  }

}

@include mdc-layout-grid-media-query_(phone) {
  .nyup-logo img {
    max-width: 130px;
  }
}

@include mdc-layout-grid-media-query_(tablet) {
  .nyup-logo img {
    max-width: 200px;
  }
}



@include mdc-layout-grid-media-query_(desktop) {
  body {
    .navhold {
      margin-top: -1.2rem;
      margin-left: 222px;
    }

    .page-header {
      padding: 34px 0;
      position: relative;
    }

    .nyup-logo {
      align-self: top;

      img {

        height: auto;
      }
    }

    .osq-logo {
      img {
        width: 230px;
        height: 174px;
      }
    }


  }
}
