.nav-links {
  text-align: center;
  font-family: $font-family-headers-bold;

  a {
    text-transform: uppercase;
    text-decoration: none;
  }
}

.navhold {
  background-color: $background-color-navbar;
  margin-top: 1.5rem;

  .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @include mdc-layout-grid-media-query_(phone) {
      justify-content: flex-start;
    }

  }
}


.osq-logo {

  a {
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.nyup-logo {
  text-align: right;

  a {
    display: block;
  }

  img {
    width: 88%;
    height: auto;
  }

}

@include mdc-layout-grid-media-query_(phone) {
  .nyup-logo img {
    max-width: 130px;
    width: 80%;
  }

  .osq-logo img {
    max-width: 130px;
  }
}

@include mdc-layout-grid-media-query_(tablet) {
  .nyup-logo img {
    max-width: 140px;
  }
}

.top-hold {
  font-family: $font-family-body;

  h1 {
   margin-bottom: .4rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #8400de;
    font-weight: 600;

    span {
      font-weight: 300;
    }
  }

  h2 {
    font-size: 1.1rem;
    color: $nyu-purple;
  }
}



@include mdc-layout-grid-media-query_(desktop) {
  body {
    .navhold {
      margin-top: 0rem;
      margin-left: 222px;
    }

    .page-header {
      padding: 34px 0;
      position: relative;
    }

    .nyup-logo {
      align-self: top;

      img {

        height: auto;
      }
    }

    .osq-logo {
      img {
        width: 150px;
        height: auto;
      }
    }


  }
}
