$nav-link-color: $nyu-purple;

.nav-links {
  ul {
    margin: 0 auto;
    display: inline-block;
    padding-left: 0;

    li {
      display: inline-block;
      color: $nav-link-color;
    }

    li:not(:first-child)::before {
      content: '\2022';
      padding: .4em;
    }
  }

  a:link,
  a:visited {
    color: $nav-link-color;
    letter-spacing: .2px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
