{{ partial "header.html" . }}
{{ partial "connectedyouthbanner.html" . }}
<main id="main-content">
  <article class="book-full-view mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      {{/*  {{- $xmlpath := urls.JoinPath "https://opensquare-stage.nyupress.org/open-square-reader/cloud-reader/epub_content/"  .Params.isbn "META-INF/container.xml" -}}  */}}
      {{- $xmlpath := "https://opensquare-stage.nyupress.org/open-square-reader/cloud-reader/epub_content/NOTHINGHERE/META-INF/container.xml" -}}
      {{- with resources.GetRemote $xmlpath  (dict "headers" (dict "Content-Type" "application/xml" ) "method" "HEAD" )}}
        {{-  with .Err }}
          {{-  errorf "ERROR %s %s " .Data.Status . }}
        {{-  else -}}
          {{-  warnf "%s %s " .Data.Status . }}
        {{-  end -}}
      {{-  else -}}
        {{-  errorf "ERROR: No file at %s " $xmlpath }}
      {{-  end -}}
      <div  role="presentation" class="left-column mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-phone">
        <a class="thumb-link" href="./read">
          {{ partial "image-detailpage" . }}
          <div class="link-callout">Read Online</div>
        </a>
        {{ if .Params.isDownloadable }}
        {{partial "download-buttons" .}}
        {{ end }}
      </div>
      <div class="meta-group mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-9-tablet mdc-layout-grid__cell--span-6-phone">
        <header>
          <h1 class="book-title">{{ .Title }}</h1>
          {{- with .Params.subtitle }}
          <h2 class="book-subtitle">{{ . }}</h2>{{ end }}
        </header>
        <div class="meta">
          <div class="author">{{ .Params.author }}</div>
          <div class="pubdate"><span>Published:</span> {{ .Params.bookpubdate }}</div>
          {{ if .Params.series }}
          <div class="tags"><span>Series:</span>
            <ul>{{ range .Params.series }}
              <li><a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
          </div>{{ end -}}
          <div class="tags"><span class="label">Subjects:</span>
            {{ range .Params.subjects }}
              {{- with site.GetPage ( . | urlize)   -}}
                <span class="tag"><a href="{{ .RelPermalink }}">{{- .Title -}}</a></span>
              {{ end }}
            {{- end -}}
          </div>
          <div class="isbn"><span>ISBN:</span> {{ .Params.isbn }}</div>
          <div class="citation_link"><span>Cite:</span> {{with .Params.citation_link }}{{ . }}{{ end }}</div>
          <div class="number_of_pages"><span>Number of pages:</span> {{ .Params.format }}</div>
          <div class="buy-the-book"><span>Buy the book:</span> {{with .Params.nyu_press_website_buy_the_book_url }}<a target="_blank" href="{{ . }}">{{ . }}</a>{{ end }}</div>
        </div>
        {{ if .Params.description_html }}
        <div class="description">{{ .Params.description_html | safeHTML }}</div>
        {{ else }}
        <div class="description">{{ .Params.description }}</div>
        {{ end }}
        {{ partial "socialmediabuttons.html" . }}
        {{ partial "bookrights.html" . }}
      </div>
    </div>
  </article>
</main>
{{ partial "footer.html" . }}
