{{ partial "header.html" . }}
{{ partial "connectedyouthbanner.html" . }}
<main id="main-content">
  <article class="book-full-view mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="left-column mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-3-phone">
        {{-  $stringisbn := string .Params.openSquareId -}}
        {{- if .Params.openSquareIdforphoto  -}}
          {{- $stringisbn = .openSquareIdforphoto  -}}
        {{- end  -}}
        {{- $titleforalt :=  .Title -}}
        {{- with .Params.subtitle -}}
          {{- $titleforalt =  printf "%s: %s" $titleforalt . -}}
        {{- end  -}}
        {{- $xmlpath := urls.JoinPath "https://opensquare-stage.nyupress.org/open-square-reader/cloud-reader/epub_content/" $stringisbn "META-INF/container.xml" -}}
      {{- with resources.GetRemote $xmlpath  (dict "headers" (dict "Content-Type" "application/xml" ) "method" "HEAD" )}}
        {{-  with .Err }}
          {{- errorf "resources.GetRemote failed. Dividing by zero to halt the program. %s %s" $xmlpath .Data.Status -}}
          {{- div 0 0 -}}
        {{-  else -}}
          {{/*  {{-  warnf "All good: XML file found: %s %s  %s " $xmlpath .Data.Status .Data.ContentType }}  */}}
          <a class="thumb-link" href="./read">
            {{ partial "image-detailpage" (dict "openSquareId" $stringisbn "titleforalt" $titleforalt)  -}}
            <div class="link-callout">Read Online</div>
          </a>
        {{-  end -}}
      {{-  else -}}
        {{-  warnf "No readium epub for %s " $stringisbn -}}
        <div class="thumb-no-link">
          {{ partial "image-detailpage" (dict "openSquareId" $stringisbn "titleforalt" $titleforalt)  }}
        </div>
      {{- end -}}
 {{- /*  Download Buttons -- These called the linked asset and retrieve header info only, to determine existence and size */ -}}
      {{- partial "download-buttons" . }}
      </div>
      <div class="meta-group mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-9-tablet mdc-layout-grid__cell--span-6-phone">
        <header>
          <h1 class="book-title">{{ .Title }}</h1>
          {{- with .Params.subtitle }}
          <h2 class="book-subtitle">{{ . }}</h2>{{ end }}
        </header>
        <div class="meta">
          {{ with .Params.contributors -}}
            {{ partial "contributors.html" . }}
          {{- end -}}
          <div class="pubdate"><span>Published:</span> {{ .Params.yearBook}}</div>
          {{ if .Params.series }}
          <div class="tags"><span>Series:</span>
            <ul>{{ range .Params.series }}
              <li><a href="{{ "/series/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
              {{ end }}
            </ul>
          </div>{{ end -}}
          <div class="tags"><span class="label">Subjects:</span>
            {{ range .Params.subjects }}
              {{-  $path := path.Join "/subjects" . -}}
              {{- with site.GetPage $path  -}}
                <span class="tag"><a href="{{ .RelPermalink }}">{{- .Title -}}</a></span>
              {{ end }}
            {{- end -}}
          </div>
          <div class="isbn"><span>ISBN:</span> {{ .Params.openSquareId }}</div>
          <div class="citation_link"><span>Cite:</span> {{with .Params.handle }}<a target="_blank" href="{{ . }}">{{ . }}</a>{{ end }}</div>
          <div class="number_of_pages"><span>Number of pages:</span> {{ .Params.pages }}</div>
          <div class="buy-the-book"><span>Buy the book:</span> {{with .Params.pressUrl }}<a target="_blank" href="{{ . }}">{{ . }}</a>{{ end }}</div>
        </div>
        {{ if .Params.descriptionHtml }}
        <div class="description">{{ .Params.descriptionHtml | safeHTML }}</div>
        {{ else }}
        <div class="description">{{ .Params.description }}</div>
        {{ end }}
        {{ partial "socialmediabuttons.html" . }}
        {{ partial "bookrights.html" . }}
      </div>
    </div>
  </article>
</main>
{{ partial "footer.html" . }}
